# Simple Python ignore file
/.venv
/venv
.DS_Store
Thumbs.db
__pycache__
*.pyc
.coverage
.coverage.*
db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
